$logonlabs-red: #ec1c24;
$logonlabs-blue: #50aff5;

$logonlabs-green: #4de515;

$logonlabs-dark-grey2: #414042;
$logonlabs-dark-grey: #919090;
$logonlabs-grey: #707070;
$logonlabs-light-grey: #e6e6e6;

$view-padding: 13px;
